@import '../variable';
@import'../short-cut';

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 768px;
    height: 562px;
    position: absolute;
    bottom: 0;
    right: 0;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Carusel-section {
    height: 100%;
    position: relative;

}

.Carusel-section-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    width: 100%;


}

.background-box {
    display: flex;

    align-items: center;
    gap: 20px;
    margin-top: 50px;
    background-color: #3f3b3d;
    height: 300px;
    width: 100%;

    .__bc-box-text {
        margin-left: 50px;


        h1 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 33px;
            line-height: 129%;
            color: #fff;
        }

        div {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            button {
                @extend %button;
                width: 178px;
                height: 45px;
                background-color: #f14814;
                color: #fff;

            }

            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 133%;
                color: #fff;
            }
        }
    }
}

._info-title {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.08em;
        text-align: center;
        color: #f14814;
    }

    h5 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 27px;
        line-height: 138%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #3f3b3d;
        width: 58%;
        text-align: center;
        margin-top: 5px;
    }




}

._info-icons-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;

        h5 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
            line-height: 119%;
            text-align: center;
            color: #3f3b3d;
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            text-align: center;
            color: #3f3b3d;
        }
    }
}