@import "../variable";

.first-pins-sec {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;

    max-width: 100%;
    width: 100%;

    gap: 8px;
    margin-top: 50px;

    @media (max-width: 665px) {
        .first-pins-sec {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}

._pin {
    position: relative;


}

.__pin-text {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    p {

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        text-transform: uppercase;
        color: #3f3b3d;
    }

    div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.second-pins-sec {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    margin-top: 50px;

    div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h5 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 39px;
            line-height: 113%;
            letter-spacing: 0.01em;
            color: #fff;
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 133%;
            color: #fff;
        }
    }


}

.second-pins {
    position: relative;
    margin-bottom: 40px;
}

._second-pins-info {
    position: absolute;
    bottom: 100px;

    img {
        position: absolute;

    }
}